torch~=2.0
pytorch-lightning~=1.7
torchmetrics
torchvision
einops
torchtyping
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
hydra-core~=1.2.0
hydra-submitit-launcher
wandb~=0.13
tqdm
rich
ipython
ipdb
jupyterlab
ipympl
typeguard~=2.9
